* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app__body {
    transition: .4s;
}

.container {
    width: 1000px;
}

.app__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
    align-items: center;
    position: relative;
}

.cards {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
}

.logo {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 15px;
    background-color: rgb(14, 43, 138);
    color: white;
    border-radius: 48%;
}

.app__header__list {
    display: flex;
    list-style: none;
    column-gap: 30px;
    margin-bottom: 0;

}

.buttons {
    padding: 10px;
    border: none;
    background-color: rgb(14, 43, 138);
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.app__header__list a {
    text-decoration: none;
    color: rgb(14, 43, 138);
    font-size: 18px;
    font-weight: 600;
}

.burger {
    display: none;
}

.app__header__list_resp {
    display: flex;
    list-style: none;
    column-gap: 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding: 37px 0;
}

.burgDiv {
    width: 100%;
    height: fit-content;
    background-color: rgb(14, 43, 138);
    position: inherit;
    top: 80px;
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    transition: 6s;
}

.app__header__list_resp a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}

.burgDiv div {
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    row-gap: 24px;
}

.burgDiv button {
    background-color: white;
    color: rgb(14, 43, 138);
    height: fit-content;
}

.app__content {
    margin-top: 50px;


}

.cards {
    row-gap: 30px;
    column-gap: 56px;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    .card {
        width: 400px;
    }

    .app__content {
        width: 95%;
    }

    .burgDiv {
        display: none;
    }

    .cards {
        justify-content: center;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .app__header__list {
        display: none;
    }

    .app__header {
        justify-content: space-between;
        width: 95%;
    }

    .app__header .buttons {
        display: none;
    }
}